<% include ../header.ejs %>
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성일</th>
        </tr>
        <% contacts.forEach((contact)=>{ %>
            <tr>
                <td>
                    <%=contact.title%>
                </td>
                <td>
                    <%=contact.content%>
                </td>
                <td>
                    <%=contact.getDate.year%> -
                    <%=contact.getDate.month%> -
                    <%=contact.getDate.day%>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">삭제</a>
                </td>
            </tr>
        <% }) %>
    </table>

    <a href="/contacts/write" class="btn btn-default">작성하기</a>
<% include ../footer.ejs %>